<div class="row">
  <div class="container filtro">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <aside class="left-section">
              <span class="category"><input type="checkbox" class="btn-check" id="all" category="all">
                <label for="all" class="texto">TODO</label>
              </span><br>
              <p class="catgr subtitulos">Estados</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Aguascalientes" category="Aguascalientes">
                <label for="Aguascalientes">Aguascalientes</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Baja California" category="Baja California">
                <label for="Baja California">Baja California</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Baja California Sur" category="Baja California Sur">
                <label for="Baja California Sur">Baja California Sur</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Chiapas" category="Chiapas">
                <label for="Chiapas">Chiapas</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Chihuahua" category="Chihuahua">
                <label for="Chihuahua">Chihuahua</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Ciudad de México" category="Ciudad de Mèxicos">
                <label for="Ciudad de México">Ciudad de México</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Coahuila" category="Coahuila">
                <label for="Coahuila">Coahuila</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Colima" category="Colima">
                <label for="Colima">Colima</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Durango" category="Durango">
                <label for="Durango">Durango</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Estado de México" category="Estado de México">
                <label for="Estado de México">Estado de Mèxico</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Guanajuato" category="Guanajuato">
                <label for="Guanajuato">Guanajuato</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Jalisco" category="Jalisco">
                <label for="Jalisco">Jalisco</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Michoacán" category="Michoacán">
                <label for="Michoacán">Michoacán</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Morelos" category="Morelos">
                <label for="Morelos">Morelos</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Nayarit" category="Nayarit">
                <label for="Nayarit">Nayarit</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Nuevo León" category="Nuevo León">
                <label for="Nuevo León">Nuevo León</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Oaxaca" category="Oaxaca">
                <label for="Oaxaca">Oaxaca</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Puebla" category="Puebla">
                <label for="Puebla">Puebla</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Querétaro" category="Querétaro">
                <label for="Querétaro">Querétaro</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Quintana Roo" category="Quintana Roo">
                <label for="Quintana Roo">Quintana Roo</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="San Luis Potosi" category="San Luis Potosi">
                <label for="San Luis Potosi">San Luis Potosi</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Sinaloa" category="Sinaloa">
                <label for="Sinaloa">Sinaloa</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Sonora" category="Sonora">
                <label for="Sonora">Sonora</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Tabasco" category="Tabasco">
                <label for="Tabasco">Tabasco</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Tamaulipas" category="Tamaulipas">
                <label for="Tamaulipas">Tamaulipas</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Tlaxcala" category="Tlaxcala">
                <label for="Tlaxcala">Tlaxcala</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Veracruz" category="Veracruz">
                <label for="Veracruz">Veracruz</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Yucatán" category="Yucatán">
                <label for="Yucatán">Yucatán</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Zacatecas" category="Zacatecas">
                <label for="Zacatecas">Zacatecas</label>
              </span><br>
              <p class="catgr subtitulos">Hábito</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Árbol" category="Árbol">
                <label for="Árbol">Árbol</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Arbusto" category="Arbusto">
                <label for="Arbusto">Arbusto, colonial o en manchones</label>
              </span> <br>
              <p class="catgr subtitulos">Corteza de la parte alta del tronco y ramas principales</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Exfoliante" category="Exfoliante">
                <label for="Exfoliante">Exfoliante, la corteza interior lisa en la parte alta del tronco <br> y en las ramas</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Persistente" category="Persistente">
                <label for="Persistente">Persistente, rugosa, gris (“leñosa”, con cáscara)</label>
              </span> <br>
              <p class="catgr subtitulos">Corteza de ramillas</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Exfoliante" category="Exfoliante">
                <label for="Exfoliante">Exfoliante en láminas</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Rugosa" category="Rugosa">
                <label for="Rugosa">Rugosa delgada o exfoliante en láminas pequeñas</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Persistente" category="Persistente">
                <label for="Persistente">Persistente, rugosa (con cáscara)</label>
              </span> <br>
              <p class="catgr subtitulos">Pecíolos </p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Galabros" category="Galabros">
                <label for="Galabros">Glabros, lisos (sin pelos) o puberulentos (como con polvito)</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia pero sin glándulas [a veces con pelos <br> glandulares que
                  no son evidentes</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pelos" category="Con pelos">
                <label for="Con pelos">Con pelos glandulares cortos (1.5 mm)</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pelos" category="Con pelos">
                <label for="Con pelos">Con pelos glandulares largos (1-8 mm)</label>
              </span> <br>
              <p class="catgr subtitulos">Hojas envés</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Galabro" category="Galabro">
                <label for="Galabro">Glabro (sin pelos), toda la superficie verde es visible </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia espaciada, la superficie verde bien visible </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia densa pero la superficie verde es visible </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia densa que oculta totalmente lo verde del envés </label>
              </span> <br>
              <p class="catgr subtitulos">Flores</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Blancas a amarillentas" category="Blancas a amarillentas">
                <label for="Blancas a amarillentas">Blancas a amarillentas o verdosas </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Rosas o blancas con tintes" category="Rosas o blancas con tintes">
                <label for="Rosas o blancas con tintes">Rosas o blancas con tintes rosas o rojizos (bicolor, mollis, occidentalis) </label>
              </span> <br>
              <div class="text-center p-3">
                <a href="#up">
                  <button id="apply_filter" type="button" class="btn btn-success texto">Aplicar filtro</button>
                </a>
              </div>
            </aside>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <table class="table table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="subtitulos">Especie</th>
              <th class="subtitulos"></th>
            </tr>
          </thead>
          <tbody>

            {{#each madronos}}
            
            <tr class="producto textotabla" category="all  {{estados}} 
                                                  {{habito}} 
                                                  {{corteza_de_la_parte_alta_del_tronco_y_ramas_principales}}
                                                  {{corteza_de_ramillas}}
                                                  {{peciolos}}
                                                  {{hojas_enves}} 
                                                  {{flores}}">
              <td class="">
                <strong>
                  {{especie}}
                </strong>
              </td>
              <td>
                <a href="/datos/info/{{_id}}" class="btn btn-succes textotabla">
                  Información
                </a>
              </td>
            </tr>

            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/444e1aeffa.js" crossorigin="anonymous"></script>

<script>
  // Buscador //
  $('#buscador').on('keypress', function (e) {
    if (e.keyCode == 13) {
      buscar();
    }
  });

  // Buscador //
  $('#button_search').on('click', function () {
    buscar();
  });

  // Casillas checkbox //
  $('.btn-check').prop('checked', true);
  $('#apply_filter').on('click', function () {
    $('.producto').hide();
    $('.btn-check:checked').each(function () {
      var input_category = $(this).attr('category');
      $('.producto[category*="' + input_category + '"]').show();
      $('.producto[category*="' + null + '"]').hide();
    });
  });

  $('#all').on('click', function () {
    if ($('#all').is(':checked')) {
      $('.btn-check:not(#all)').prop('checked', true);
    } else if ($('#all').not(':checked')) {
      $('.btn-check:not(#all)').prop('checked', false);
    }
  });
</script>