<div class="container pb-3">
    <div class="row">
        <div class="col-3">
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <img class="zoom" src="/img/1{{madrono.especie}}.jpg" alt="{{madrono.especie}}" id="madroñoimg">
                        <br>
                        <br>
                        <img class="zoom" src="/img/3{{madrono.especie}}.jpg" alt="{{madrono.especie}}" id="madroñoimg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="card alert-dismissible alert-success p-3">
                                <strong>NOMBRE:</strong>
                                <label for="">
                                    {{madrono.especie}}
                                </label>
                                <strong>ESTADO:</strong>
                                <label for="">
                                    {{madrono.estados}}
                                </label>
                                <strong>HABITO:</strong>
                                <label for="">
                                    {{madrono.habito}}
                                </label>
                                <strong class="datoc"
                                    value="{{madrono.corteza_de_la_parte_alta_del_tronco_y_ramas_principales}}">CORTEZA
                                    ALTA:</strong>
                                <label class="datoc" for="">
                                    {{madrono.corteza_de_la_parte_alta_del_tronco_y_ramas_principales}}
                                </label>
                                <strong class="dato" value="{{madrono.peciolos_y_ramillas}}">PECIOLOS Y
                                    RAMILLAS:</strong>
                                <label class="dato" for="">
                                    {{madrono.peciolos_y_ramillas}}
                                </label>
                                <strong class="datoc" value="{{madrono.corteza_de_ramillas}}">CORTEZA RAMAS:</strong>
                                <label class="datoc" for="">
                                    {{madrono.corteza_de_ramillas}}
                                </label>
                                <strong class="datoc" value="{{madrono.peciolos}}">PECÍOLOS:</strong>
                                <label class="datoc" for="">
                                    {{madrono.peciolos}}
                                </label>
                                <strong class="dato" value="{{madrono.hojas_duración_y_textura}}">HOJAS (DURACION Y
                                    TEXTURA):</strong>
                                <label class="dato" for="">
                                    {{madrono.hojas_duración_y_textura}}
                                </label>
                                <strong class="dato" value="{{madrono.hojas_las_más_anchas}}">HOLAS (LAS MAS
                                    ANCHAS):</strong>
                                <label class="dato" for="">
                                    {{madrono.hojas_las_más_anchas}}
                                </label>
                                <strong class="dato" value="{{madrono.hojas_margen}}">HOJAS, MARGEN:</strong>
                                <label class="dato" for="">
                                    {{madrono.hojas_margen}}
                                </label>
                                <strong>HOJAS, ENVES:</strong>
                                <label for="">
                                    {{madrono.hojas_enves}}
                                </label>
                                <strong class="dato" value="{{madrono.inflorescencia}}">INFLORESCENCIA:</strong>
                                <label class="dato" for="">
                                    {{madrono.inflorescencia}}
                                </label>
                                <strong>FLORES:</strong> <label for="">
                                    {{madrono.flores}}
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-danger my-2" href="javascript:history.back()" role="button">
                                Volver
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card-body">
                <div class="form-group">
                    <br>
                    <br>
                    <div>
                        <img class="zoom" src="/img/2{{madrono.especie}}.jpg" alt="{{madrono.especie}}"
                            id="madroñoimg3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/444e1aeffa.js" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        if ($(".dato").attr("value") === "") {
            $('.dato').hide();
        }
        if ($(".datoc").attr("value") === "") {
            $('.datoc').hide();
        }
        $('.zoom').hover(function () {
            $(this).addClass('transition');
        }, function () {
            $(this).removeClass('transition');
        });
    });
</script>